.theme__blue {
  --q-primary   : #3c3c80;
  --q-secondary : #7c73af;
  --q-accent    : #e4bb4a;

  --q-dark:     #333333;
  --q-dark-page: #121212;

  --q-positive : #21ba45;
  --q-negative : #c10015;
  --q-info     : #31ccec;
  --q-warning  : #f2c037;
}
