.theme__red {
  --q-primary   : red;
  --q-secondary : green;
  --q-accent    : #e4bb4a;

  --q-dark:     #333333;
  --q-dark-page: #121212;

  --q-positive : #21ba45;
  --q-negative : #c10015;
  --q-info     : #31ccec;
  --q-warning  : #f2c037;
}
