@import './Inter.scss';
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');


body * {
  font-family: 'Inter', sans-serif;
}

pre * {
  font-family: 'Source Code Pro'!important;
}

.q-page-container {
  // background-color: #d9d9d9;

  >.q-page {
    width: min(1280px, 90%);
    margin: 0 auto;
    padding: 16px;
  }
}

.image-svg {
  color: $primary!important;
}

@import './components/_components';
